NOTION_API_TOKEN=
NOTION_ADMIN_API_KEY=
PLANNING_2026_DATABASE_ID=2d406589-4ee5-8035-987f-d110e5d30e3d
MOVIMIENTOS_DB=
PERIODO_DB=39d06589-4ee5-8036-a3ef-c73eadeae4f8
TELEGRAM_BOT_TOKEN=
TELEGRAM_GROUP_ID=
PORT=8080
DEBUG=false
